<div class="bg-white container overflow-auto">
  <div class="col-md-12 d-flex justify-content-between mt-3">
    <h3 class="text-dark">Add Ingredient</h3>
    <div class="cursor-pointer" (click)="onClose()"><i class="fa fa-close text-dark"></i></div>
  </div>
  <div class="col-md-12 bg-grey p-1 upload-box-container my-1" >
    <div class="upload-box" (click)="fieInput.click()" *ngIf="!file">
      <span>
        Upload Image
      </span>
      <input type="file" accept="image/png, image/gif, image/jpeg" class="d-none" #fieInput (change)="onFileSelected($event)">
    </div>
    <div class="" *ngIf="file">
      <img [src]="selectedImage" class="img-fluid" alt="">
    </div>

  </div>
  <div class="col-md-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <ng-container formGroupName="recipe">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Recipe Name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1"
            placeholder="Eg. Pizza">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Recipe Intro</label>
          <input type="text" class="form-control" formControlName="intro" id="exampleFormControlInput1"
            placeholder="Eg. Intro">
        </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Preparation Time</label>
                <input type="number" class="form-control" formControlName="prepTime" id="exampleFormControlInput1"
                  placeholder="Eg. 30">
              </div>

            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cook Time</label>
                <input type="number" class="form-control" formControlName="cookTime" id="exampleFormControlInput1"
                  placeholder="Eg. 30">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Servings</label>
                <input type="number" class="form-control" formControlName="serve" id="exampleFormControlInput1"
                  placeholder="Eg. 3">
              </div>
            </div>
          </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Recipe Difficulty</label>
          <select class="form-select" formControlName="difficulty" aria-label="Default select example">
            <option selected>Select Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tip for the recipe: </label>
          <input type="text" class="form-control" formControlName="tip" id="exampleFormControlInput1" placeholder="Tip">
        </div>
      </ng-container>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ingredients</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #ingredient placeholder="Ingredient" aria-label="Ingredients"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="addIngredient(ingredient.value);ingredient.value = '';">Add</button>
        </div>
        <div class="col-md-12 d-flex">
          <span class="bg-primary text-light p-2 rounded mx-1" *ngFor="let ingredient of getIngredients.value;let i = index">
            {{ingredient.plain_ingredient}}
            <i class="fa fa-close ms-2" (click)="removeIngredient(i)"></i>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">steps</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #step placeholder="Step" aria-label="Ingredients"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="addStep(step.value);step.value = '';">Add</button>
        </div>
        <div class="col-md-12">
          <div class="bg-primary text-light p-2 rounded mt-1 mx-1 w-100 d-flex" *ngFor="let ingredient of getSteps.value;let i = index">
            <div class="flex-fill">
              {{ingredient.position + 1}} - {{ingredient.description}}
            </div>
            <div>
              <i class="fa fa-close ms-2" (click)="removeStep(i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nutrition</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #nutrition placeholder="Ingredient" aria-label="Ingredients"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="addNutrition(nutrition.value);nutrition.value = '';">Add</button>
        </div>
        <div class="col-md-12 d-flex">
          <span class="bg-primary text-light p-2 rounded mx-1" *ngFor="let ingredient of gerNutrition.value;let i = index">
            {{ingredient.nutrition}}
            <i class="fa fa-close ms-2" (click)="removeNutrition(i)"></i>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tags</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #tag placeholder="Enter tag" aria-label="Ingredients"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="addTag(tag.value);tag.value = '';">Add</button>
        </div>
        <div class="col-md-12 d-flex">
          <span class="bg-primary text-light p-2 rounded mx-1" *ngFor="let ingredient of getTag.value;let i = index">
            {{ingredient.tag}}
            <i class="fa fa-close ms-2" (click)="removeTag(i)"></i>
          </span>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary-outline" (click)="this.onClose()">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
