<div *ngIf="recipeDetails">
<div class="container">
  <div class="row mx-2 border-bottom">
    <div class="col-md-6">
      <div class="mt-5">

        <div class="h2">{{ recipeDetails.recipe.name }}</div>
        <div class="h6"></div>
        <div class="stars mt-2">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="intro mt-3 h5">
          {{ recipeDetails.recipe.intro }}
        </div>
        <div class="my-4 d-flex">
            <div class="w-33 tag border-end d-flex justify-content-center flex-column align-items-center">
                <span class="value">{{ recipeDetails.ingredients.length }}</span>
                <span class="name">Ingredients</span>
            </div>
          <div class="w-33 tag border-end d-flex justify-content-center flex-column align-items-center">
            <span class="value">{{ recipeDetails.recipe.difficulty }}</span>
            <span class="name">Difficulty</span>
          </div>
            <div *ngIf="recipeDetails.recipe.cookTime">
              <div class="w-33 tag border-end d-flex justify-content-center flex-column align-items-center">
                <span class="value">{{ recipeDetails.recipe.cookTime }}</span>
                <span class="name">Minutes</span>
              </div>
            </div>

            <div class="w-33 tag d-flex justify-content-center flex-column align-items-center">
                <span class="value">{{recipeDetails.nutrition[0].nutrition}}</span>
<!--                <span class="name">Calories</span>-->
            </div>
        </div>
        <div class="border-bottom mt-2">

        </div>
        <div class="col-md-12 mt-4 px-2 d-flex justify-content-between">
            <div class="h4">Ingredients</div>
            <div class="h6">{{recipeDetails.recipe.serve }} SERVINGS</div>
        </div>
        <div class="col-md-12 mt-1 px-2">
            <div class="ingredients" *ngFor="let ingredient of recipeDetails.ingredients">
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> {{ingredient.plain_ingredient}}</div>
            </div>
        </div>

        <div class="col-md-12 mt-4 px-2 d-flex justify-content-between">
          <div class="h4">Follow these steps: </div>
<!--          <div class="h6">{{recipeDetails.recipe.serve }} SERVINGS</div>-->
        </div>
        <div class="col-md-12 mt-1 px-2">
          <div class="ingredients" *ngFor="let step of recipeDetails.steps">
            <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> {{step.description}}</div>
          </div>
        </div>
        <div *ngIf="recipeDetails.recipe.tip">
          <div class="col-md-12 mt-4 px-2 d-flex justify-content-between">
            <div class="h4">Tip</div>
          </div>
          <div class="col-md-12 mt-1 px-2">
            <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> {{recipeDetails.recipe.tip}}</div>

          </div>
        </div>
        <div class="col-md-12 mt-4 px-2 d-flex justify-content-between">
          <div class="h4">Tags: </div>
        </div>
        <div class="col-md-12 mt-1 px-2">
          <div *ngFor="let t of recipeDetails.tags">
             #{{ t.tag }}

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="{{recipeDetails.recipe.imgURL}}" alt="">

      </div>
    </div>
  </div>
  <div class="row my-5">

  </div>
</div>

</div>
