<div class="container">
  <div class="row mx-2 border-bottom">
    <div class="col-md-6">
      <div class="mt-5">
        <div class="h2">Tamales</div>
        <div class="h6">MARK BITTMAN</div>
        <div class="stars mt-2">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="intro mt-3 h5">
            These burgers held up really well on the grill and resulted in thick, juicy patties – the pretzel buns and Swiss cheese were great additions to the bison burger too!
        </div>
        <div class="my-4 d-flex">
            <div class="w-33 tag border-end d-flex justify-content-center flex-column align-items-center">
                <span class="value">7</span>
                <span class="name">Ingredients</span>
            </div>
            <div class="w-33 tag border-end d-flex justify-content-center flex-column align-items-center">
                <span class="value">90</span>
                <span class="name">Minutes</span>
            </div>
            <div class="w-33 tag d-flex justify-content-center flex-column align-items-center">
                <span class="value">190</span>
                <span class="name">Calories</span>
            </div>
        </div>
        <div class="border-bottom mt-2"></div>
        <div class="col-md-12 mt-4 px-2 d-flex justify-content-between">
            <div class="h4">Ingredients</div>
            <div class="h6">24 SERVINGS</div>
        </div>
        <div class="col-md-12 mt-1 px-2">
            <div class="ingredients">
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 24 dried corn husks</div>
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 3 1/2 cups masa harina</div>
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 2 1/4 cups chicken stock</div>
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 1 tsp. salt</div>
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 24 dried corn husks</div>
                <div class="ingredient"> <span class="mx-2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span> 1 tsp. salt</div>
            </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-6">
        <img src="https://lh3.googleusercontent.com/K7u3zK0Y00A523H-wgxZd9daRNMKTAVkrmfjzFRpx9H6znwItP-IJ-k3RUBjScpz9K4PsT9edvyJ1g7umKQ_=w640-h640-c-rw-v1-e365" alt="">
    </div>
  </div>
  <div class="row my-5">

  </div>
</div>
