@import 'src/styles';

.checked {
  color: orange;
}

.tag{
    .value{
        font-size: 22px;
    }
    .name{
        font-size: 16px;
    }
}

.ingredients{
    .ingredient{
        margin-top: 12px;
        font-size: 16px;
        .fa{
            color: $primary-color;
        }
    }
}