<header>
  <div class="px-3 py-2 bg-primary text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none ">
          <img class="logo" src="/assets/images/logo/logo.png" alt="" srcset="">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/pages/recipe-recommendation']" routerLinkActive="router-link-active"
              class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Recipe Recommendation
            </a>
          </li>
          <!-- <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#table"></use>
              </svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li> -->
          <li>
            <!-- <a href="#" class="nav-link text-white" routerLink="/user-profile/home" routerLinkActive="router-link-active"> -->
              <a *ngIf="user" [routerLink]="['/pages/user-profile',user.name]" routerLinkActive="router-link-active">
              <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
              Customers -->
                <img src="{{user?.avatar || '/assets/images/user-profile/default_user_profile_icon.jpg'}}" class="profile-image"
                  alt="Profile Image">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-between">
      <div class="form">
        <input type="search" [(ngModel)]="query" class="form-control" placeholder="Search..." aria-label="Search" (keyup.enter)="search()">
      </div>
      <div class="text-end" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-light text-dark me-2" (click)="onUpload()"><i class="fa fa-upload me-1" aria-hidden="true"></i>Add Yours </button>
        <button type="button" class="btn btn-light text-dark me-2" (click)="onLogout()">Logout</button>

      </div>
      <div class="text-end" *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-light text-dark me-2" routerLink="/authentication">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/authentication/signup">Sign-up</button>
      </div>
    </div>
  </div>
</header>
