<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Banner/Banner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Banner/Banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Banner/Banner3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="h2 yellow-underline">
          Today's Pick
        </div>
        <h6>Recipes the test kitchen can't stop talking about.</h6>
      </div>
      <div class="row mt-2">
      <div class="col-md-3 card-container" *ngFor="let item of this.todaysPick">
        <div class="card">
          <img src="{{item.imgURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.intro}}</p>
            <a [routerLink]="['/pages/recipe',item.id]" routerLinkActive="router-link-active"  class="btn btn-primary">Make Yours !!!</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid mt-3">
  <div class="row">

    <div class="col-md-12 bg-secondary-light py-2">
      <div class="container">
        <div class="h2">
          Top Chickens Items !!!
        </div>
        <div class="row">
          <div class="col-md-2" *ngFor="let item of topChickenItems">
            <div class="w-100 p-2 border bg-white">
              <img class="w-100" src="{{item.imgURL}}" alt="">
            </div>
            <div>
                <h6 class="text-center">{{item.name}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="h2 yellow-underline">
          Indian
        </div>
        <h6>Spice up your life with the flavors of India!</h6>
      </div>
      <div class="row mt-2">
      <div class="col-md-3 card-container" *ngFor="let item of this.veggiesItems">
        <div class="card">
          <img src="{{item.imgURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.intro}}</p>
            <a [routerLink]="['/pages/recipe',item.id]" routerLinkActive="router-link-active"  class="btn btn-primary">Make Yours !!!</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="h2 yellow-underline">
          Pizza Delight
        </div>
        <h6>Hot, fresh, and always satisfying - that's the power of pizza!</h6>
      </div>
      <div class="row mt-2">
      <div class="col-md-3 card-container" *ngFor="let item of this.pizzaItems">
        <div class="card">
          <img src="{{item.imgURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.intro}}</p>
            <a [routerLink]="['/pages/recipe',item.id]" routerLinkActive="router-link-active"  class="btn btn-primary">Make Yours !!!</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
