<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="ingredient-filter">
        <h4>Filter by Ingredients</h4>
        <input
          type="text"
          [formControl]="filterByIngredient"
          placeholder="Search..."
        />
        <div class="form-group" *ngFor="let item of filteredIngredients">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="item.checked"
            id="{{ item.plain_ingredient }}"
            (click)="onIngredientStateChange()"
          />
          <label
            class="form-check-label ms-2"
            for="{{ item.plain_ingredient }}"
          >
            {{ item.plain_ingredient }}
          </label>
        </div>
      </div>
      <div class="ingredient-filter mt-3">
        <h4>Filter by Meal Preference</h4>
        <input
          class="d-none"
          type="text"
          placeholder="Search..."
          [formControl]="filterByMealPreference"
        />
        <div
          class="form-group"
          *ngFor="let item of mealPreference"
          (click)="onMealPrefrenceStateChange()"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="item.checked"
          />
          <label class="form-check-label ms-2" for="{{ item.name }}">
            {{ item.name }}
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3>Recipes</h3>
      <div class="d-flex">
        <div
          class="width-max-content bg-primary rounded text-light px-2 py-1 mx-1"
          *ngIf="filterObj.q"
        >
          Search:{{ filterObj.q }}
          <i class="fa fa-close ms-1 cursor-pointer" (click)="removeQ()"></i>
        </div>
        <div
          class="width-max-content bg-primary rounded text-light px-2 py-1 mx-1"
          *ngFor="let item of filterObj.mealPreference ; let i = index"
        >
          {{ item }}
          <i class="fa fa-close ms-1 cursor-pointer" (click)="removeMealPreference(item)"></i>
        </div>
        <div
          class="width-max-content bg-primary rounded text-light px-2 py-1 mx-1"
          *ngFor="let item of filterObj.ingredients ; let i = index"
        >
          {{ item }}
          <i class="fa fa-close ms-1 cursor-pointer" (click)="removeIngredient(item)"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 p-2" *ngFor="let recipe of recipes">
          <div class="card mb-4 shadow-sm h-100">
            <img
              class="card-img-top"
              [src]="recipe.imgURL"
              alt="Recipe image"
            />
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <ul>
                <li *ngFor="let item of recipe.ingredients">{{ item }}</li>
              </ul>
              <p class="card-text">{{ recipe.intro }}</p>
              <a
                [routerLink]="['/pages/recipe', recipe.id]"
                routerLinkActive="router-link-active"
                class="btn btn-primary"
                >Make Yours !!!</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="this.filterObj.pageIndex === 0"
              (click)="onPreviousPage()"
            >
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
            </button>
            <button type="button disabled" class="btn btn-outline-primary">
              {{ this.filterObj.pageIndex + 1 }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onNextPage()"
            >
              Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
