@import 'src/styles';

/* Style for filters section */
.filters-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}

.filters-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.ingredients-list {
  max-height: 400px;
  overflow-y: auto;
}

.ingredients-list label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

/* Style for recipe list section */
.recipe-list-section {
  margin-left: 20%;
  padding: 20px;
}

.recipe-list-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recipe-card {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.recipe-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.recipe-card p {
  font-size: 16px;
  margin: 10px;
  line-height: 1.4;
}

.recipe-card .ingredients {
  font-weight: bold;
}

.recipe-card .description {
  text-align: justify;
}

.ingredient-filter{
  max-height: 385px;
  overflow: auto;
  .form-group{
    text-transform: capitalize;
  }
}


