<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <title>Recipe Search</title>-->
<!--  <base href="/">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="icon" type="image/x-icon" href="favicon.ico">-->
<!--</head>-->
<!--<body>-->
<script src="recipe-recommendation.component.ts"></script>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="ingredient-filter">
      <h4>Filter by Ingredients</h4>
      <input type="text" [(ngModel)]="searchIngredient" placeholder="Search...">
      <div class="form-group" *ngFor="let item of ingredients">
        <input type="checkbox" [(ngModel)]="item.checked">{{ item.plain_ingredient }}
      </div>
      </div>
      <div class="ingredient-filter mt-3">
        <h4>Filter by Meal Preference</h4>
        <input type="text" placeholder="Search...">
        <div class="form-group" *ngFor="let items of mealPreference">
          <input type="checkbox">{{ items }}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3>Recipes</h3>
      <div class="row">
        <div class="col-md-4" *ngFor="let recipe of recipes ">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" [src]="recipe.imgURL" alt="Recipe image">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.ingredients }}</p>
              <p class="card-text">{{ recipe.intro }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--| filterByIngredients:ingredients | filterBySearch:searchIngredient-->
<!--<script src="app.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>-->
<!--</body>-->
<!--</html>-->
